
body{
    background: linear-gradient(0.25turn, #005bc2, #280069, #35199c);}
}

.display-3{
filter: drop-shadow(2px 2px 5px cyan);

}

form{
    filter: drop-shadow( 2px 2px 5px rgba(0, 42, 179, 0.425));
}
