
body{
    background: linear-gradient(0.25turn, #a32121, #280069, #35199c);}
}

.display-3{
filter: drop-shadow(2px 2px 5px cyan);

}

form{
    filter: drop-shadow( 2px 2px 5px rgba(53, 0, 97, 0.425));
}
